OPENAI_API_KEY=
API_KEY=

LANGFUSE_SECRET_KEY=sk-lf-...
LANGFUSE_PUBLIC_KEY=pk-lf-...
LANGFUSE_BASE_URL=https://cloud.langfuse.com

DEEPGRAM_API_KEY=sk-example79fd44869bd1738e383319b6

#S01E01
ROBOTS_SYSTEM_URL=https://put.real.url.here
USER=user
PASSWORD=password

#S01E02
ROBOTS_MEMORY_DUMP_URL=https://put.real.url.here/0_13_4b.txt
S01E02_VERIFICATION_URL=https://put.real.url.here/verify

#S01E03
CALIBRATION_FILE_URL=https://put.real.url.here/json.txt
CALIBRATION_FILE_LOCAL_PATH=temp_files/calibration.txt
S01E03_VERIFICATION_URL=https://put.real.url.here/verify

#S01E04
S01E04_VERIFICATION_URL=https://put.real.url.here/verify

#S01E05
S01E05_FILE_URL=https://put.real.url.here/file.txt
S01E05_FILE_LOCAL_PATH=temp_files/cenzura.txt
S01E05_VERIFICATION_URL=https://put.real.url.here/verify

#S02E01 
S02E01_FILE_URL=https://put.real.url.here/przesluchania.zip
S02E01_FILE_LOCAL_PATH=temp_files/przesluchania.zip
S02E01_UNZIPPED_FOLDER_PATH=temp_files/przesluchania
S02E01_TRANSCRIPTS_FILE_PATH=temp_files/transcripts.txt
S02E01_VERIFICATION_URL=https://put.real.url.here/verify